params {
    // Required inputs 
    hifi              = null
    ref               = null
    hap1              = null
    hap2              = null

    // Optional with defaults
    leng_N_Gap        = 30000       // default: 30k
    soft_clip_num     = 200         // default: 200
    threads           = 8           // default: 8

    // Misc
    help              = false
}

manifest {
    name        = 'hifi-recomb-20250905'
    author      = 'Zuyao Liu'
    description = 'Pipeline for HiFi read alignment and haplotype-aware recombination analysis'
    version     = '0.1.0'
}

profiles{

  standard {
    process {
      executor = 'local'
      cpus     = 8
      container = 'hifi_sperm_recomb.sif'
    }
  }

  slurm {
    process {
      executor = 'slurm'
      cpus     = { (params.threads as int) }
      memory   = '20 GB'
      time     = '10h'
      container = 'hifi_sperm_recomb.sif'

      withLabel: preparing_haps {
        cpus   = 4
        memory = '20 GB'
        time   = '8h'
      }

      withLabel: aligning_and_filtering {
        cpus   = { (params.threads as int) }
        memory = '20 GB'
        time   = '24h'
      }
    }

    executor {
      name      = 'slurm'
      queueSize = 20   
    }
  }
}


process.shell = ['/bin/bash', '-euo', 'pipefail']



singularity {
    enabled = true
    autoMounts = true
}

